* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "play";
}

//VARIABLES

$colors: (
  primary: #111344,
  secondary: #efe9e7,
  tertiary: #52154e,
  quaternary: #dae0f2,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$font-sizes: (
  xl: 3.5rem,
  lg: 3rem,
  md: 2rem,
  sm: 1.5rem,
  xs: 1rem,
);

@function size($size) {
  @return map-get($font-sizes, $size);
}

//LAYOUT

button {
  border: none;
  padding: 10px;
  cursor: pointer;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.233);
  @media (max-width: 450px) {
    height: 100px;
    width: 100px;
  }
}

.header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  background-color: color(primary);
  height: 100px;
  &-heading {
    color: color(secondary);
    text-transform: uppercase;
    text-align: center;
    font-size: size(xl);
    padding-top: 20px;
  }
}

.section1 {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  @media (max-width: 1280px) {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
  }
  @media (max-width: 450px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.list-container {
  padding-top: 40px;
  background-color: color(quaternary);
  text-align: center;
}

.liContainer {
  padding: 10px;
}

#root {
  height: 110vh;
  padding: 50px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 330px;
  grid-auto-flow: dense;
  @media (max-width: 1280px) {
    height: auto;
  }
  @media (max-width: 450px) {
    padding: 40px 10px 40px 40px;
  }
}

.box {
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-size: size(xs);
}

.carSpecs {
  :nth-child(2) {
    font-weight: bold;
  }
  padding-bottom: 10px;
}

.section2 {
  height: 60vh;
  &-container {
    background-color: color(tertiary);
    height: 100px;
    &-heading {
      color: color(secondary);
      font-size: size(md);
      padding-top: 20px;
    }
  }
  @media (max-width: 1000px) {
    height: auto;
  }
}

#newCars {
  padding: 50px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  @media (max-width: 1280px) {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
  }
  @media (max-width: 1000px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
  }
  @media (max-width: 450px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
  }
}

.section3 {
  height: 80vh;
  &-container {
    background-color: color(primary);
    height: 100px;

    color: color(secondary);
    &-heading {
      font-size: size(md);
      padding-top: 20px;
    }
  }
  @media (max-width: 1500px) {
    height: auto;
  }
}

#facts {
  padding: 50px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.factBox {
  background-color: color(quaternary);
  padding: 20px;
}

.contact {
  height: 70vh;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 0.5fr 5fr;
  &-container {
    grid-area: 1/1/2/-1;
    height: 100px;
    background-color: color(tertiary);
    &-heading {
      color: color(secondary);
      font-size: size(md);
      padding-top: 20px;
    }
  }
  &-form {
    grid-area: 3/2/-1/3;
    & input {
      display: block;
      height: 50px;
      width: 100%;
      border: none;
      background-color: color(quaternary);
      font-size: size(xs);
    }
    & label {
      padding: 20px 0px 5px 0px;
      display: block;
    }
    & textarea {
      height: 150px;
      width: 100%;
      border: none;
      background-color: color(quaternary);
    }
    & button {
      display: block;
      margin-top: 30px;
    }
  }
  @media (max-width: 1000px) {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 0.5fr 5fr;
  }
}

#success {
  display: none;
  grid-area: 2/2/3/3;
  font-size: size(md);
  padding-top: 40px;
}

#errorMsg {
  grid-area: 2/2/3/3;
  color: red;
}
